<header>
<nav>
  <ul>
    <li class="logo">
      <a href="{{ site.url | absolute }}">
        <img src="{{site.url}}/assets/images/victor_sanchez_carmena.jpg" alt="Víctor Sánchez Carmena">
        <p class="site-author">{{ site.title }}</p>
      </a>
    <li>
    <li>
      <p class="site-description">Padre. Ingeniero de software senior. Profesor. Co-organizador de <a href="https://techneforum.com/" target="_blank">Techne Forum</a>. Mezcla de machego, madrileño y catalán <a href="{{ site.url }}/about">Más sobre mí.</a></p>
    </li>
  <ul>
</nav>
<hr>
</header>
