<ul class="social-media-list">
  {% if site.linkedin_username%}<li><a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a></li>{% endif %}
  {% if site.twitter_username%}<li><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>{% endif %}
  {% if site.github_username%}<li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank"><i class="fab fa-github-alt fa-2x"></i></a></li>{% endif %}
</ul>
