---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css?family=Space+Mono|Roboto+Slab|Open+Sans');

$brand-color: #38b6a3;
$base-color: #333;
$secondary-color: #4c4c4c;
$border-color: #fff;
$light-color: #adacac;
$lighter-color: #e6e6e6;

$default-font: 'Helvetica';
$primary-font: 'Roboto Slab', serif;
$secondary-font: 'Open Sans', sans-serif;
$mono-font: 'Space Mono', monospace;

@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $point == medium {
    @media (min-width: 768px) {
      @content;
    }
  }
  @else if $point == large {
    @media (min-width: 992px) {
      @content;
    }
  }
  @else if $point == xtralarge {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

html {
  font-family: $secondary-font;
  color: $secondary-color;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

main {
  padding: 1em 2em 2em 2em;
  min-height: 100%;
  @include breakpoint(large) {
    max-width: 55rem;
    margin-left: 24rem;
  }
  @include breakpoint(small) {
    padding: 1em;
  }
  hr {
    background-color: $lighter-color;
    width: 100%;
    height: 2px;
    margin: 0;
  }
  &.full-width {
    max-width: 100%;
  }
}

p {
  line-height: 30px;
  font-size: 1em;
}

/* LINKS */

a {
  text-decoration: none;
  .nav, &.post-title-link {
    color: $brand-color;
    &:hover {
      text-decoration: underline;
      color: darken($brand-color, 10%);
    }
  }
  &.post-title-link {
    font-size: 1.2em;
  }
  &:hover {
    color: $brand-color;
  }
}

/* HIGHLIGHTS */

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  font-weight: 400;
}

header h1 {
  margin-bottom: 0.3em;
  font-size: 1.4em;
  margin-top: 0.3em;
}

h2 {
  font-family: $primary-font;
  font-size: 1.3em;
  font-weight: 100;
  text-transform: uppercase;
  color: $base-color;
  margin-bottom: 0.5em;
  display: inline-block;
  padding-bottom: 0.2em;
}
h3 {
  font-size: 1.2em;
}

/* SIDEBAR */

.logo {
  a {
    color: $base-color;
  }
  img {
    border-radius: 50%;
    margin: 0.5em;
    border: 3px solid $border-color;
  }

}

.sidebar {
  padding: 2rem 1rem;
  color: $base-color;
  background-image: url('images/sidebar_background.png');
  background-size: cover;
  text-align: center;
  position: relative;
  min-height: 75%;
  padding-bottom: 5rem;
  @include breakpoint(medium) {
    min-height: 50%;
  }
  @include breakpoint(large) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    min-height: 30%;
    padding-bottom: 1rem;
  }
  @include breakpoint(xtralarge) {
    min-height: 20%;
    padding-bottom: 1rem;
  }
  .site-title {
    margin: 0;
  }
  &.page {
    @include breakpoint(small) {
      padding-bottom: 0;
      padding-top: 0;
      min-height: 0%;
      .logo a > img, .quick-descripcion, hr, nav, footer {
        display: none;
      }
      .logo {
        margin: 0;
      }
      .logo a .site-title {
        padding: 1em;
      }
    }
  }
}

.quick-descripcion {
  color: $secondary-color;
  font-family: $secondary-font;
  margin-top: 0;
  margin-bottom: 1.5em;
  padding: 0 0.8em;
}

.quick-descripcion a{
  font-family: $secondary-font;
  color: $brand-color;
  &:hover {
    color: darken($brand-color,15%);
    text-decoration: underline;
  }
}

hr {
  background-color: $light-color;
  height: 2px;
  width: 50px;
  border: 0;
  border-radius: 20px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h2 + hr {
  background-color: $light-color;
  width: 50px;
  margin-bottom: 1em;
}

.main header {
  padding: 1em;
  ul {
  padding: 0;
  }
}

nav li, .post-list li{
  list-style: none;
  margin-bottom: 1em;
  display: inline;
}

/* POSTS */

p {
  min-width: 10em;
}

.post-list {
  padding: 0;
  margin: 0;
  a, .read-more {
    font-family:  $primary-font;
    color:  $brand-color;
    &:hover {
      color: darken($brand-color, 15%);
    }
  }
  .read-more {
    font-size: 14px;
  }
  hr {
    height: 1px;
  }
}

.post-meta {
  margin-bottom: -1em;
  color: $light-color;
}

time {
  font-family: $secondary-font;
  font-weight: 100;
  font-size: 0.9em;
  color: $light-color;
  margin-top:-15px;
  text-transform: uppercase;
  display: block;
}

.post-content {
  ol li {
    list-style: decimal;
  }
  li {
    line-height: 1.8em;
    font-size: 1.1em;
  }
  h3{
    margin: 2.5em 0;
  }
}

article a {
  color: $brand-color;
  &:hover {
    color: darken($brand-color,15%);
    text-decoration: underline;
  }
}

figcaption {
  font-size: 0.7em;
  margin-top: -1em;
}

figure {
  margin: auto;
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  width: 92%;
  padding-bottom: 0.2em;
  p {
    color: $secondary-color;
    font-family:  $secondary-font;
  }
  i {
    color: $secondary-color;
    &:hover {
      color: $brand-color;
    }
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
  }
  .attribution {
    font-size: 0.8em;
    color: $secondary-color;
  }
}

.social-media-list {
  text-align: center;
  margin-bottom: 0.5em;
  li {
    display: inline;
    padding: 0.4em;
  }
}

i.fas, i.fab {
  display: inline-block;
  border-radius: 50px;
  box-shadow: 0px 0px 2px $secondary-color;
  padding: 0.5em 0.5em
}

.fa-2x {
  font-size: 1.2em;
}

/* IMAGES */

.fa-pull-right {
  padding-left: 1.5em;
}

.fa-pull-left {
  padding-right: 1.5em;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.fa-pull-right, .fa-pull-left {
  padding-top: 1em;
  padding-bottom: 1em;
  @include breakpoint(small) {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ABOUT ME */

.about-me {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0.5em;
  max-width: 100%;
}

.about-me {
  float: right;
  @include breakpoint(small) {
    float: none;
  }
}
